{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["@/pages/(.*)$", "@/shared/(.*)$", "/(.*).css$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
